@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"]:checked::after {
    content: '\2713';
    /* Unicode for checkmark */
    display: block;
    text-align: center;
    color: white;
    font-size: 0.75rem;
}

/* Applies styles to the scrollbar track */
.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    /* Light grey background */
}

.scrollbar::-webkit-scrollbar-track:hover {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    /* Light grey background */
}

/* Applies styles to the scrollbar handle */
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888;
    /* Dark grey handle */
    /* Light grey border to match the track */
}

/* Applies styles to the scrollbar itself */
.scrollbar::-webkit-scrollbar {
    width: 5px;
    /* Adjust the width of the scrollbar here */
}

/* Optional: styling for hover effects on the scrollbar handle */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #777;
    /* Darker grey for hover effect */
}

.image__gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(159, 201, 255, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.appearAnimation {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}